body{
    background-color: #463c35;
}

.ul-nav {
    list-style-type: none;
    margin: 0;
    padding: 2px;
    overflow: hidden;
    background-color: darkcyan;
}

.li-nav {
    float: left;
}

.li-nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: system-ui;
}

/* Change the link color to #111 (black) on hover */
.li-nav a:hover {
    background-color: rgb(109, 112, 111);
  }

.container{
    margin:auto;
    padding: 15px;
    font-family:sans-serif;
}

.text-welcome{
    margin: auto;
}

.text-welcome:hover{
    color: green;
    -webkit-transition: color 2s ease-out;
    -moz-transition: color 2s ease-out;
    -o-transition: color 2s ease-out;
    transition: color 2s ease-out;
}
.container  #img-coffee {
    max-width: 30%;
    height: auto;
    border-radius:15px;
    margin: auto;
    padding: auto;
    float: left;
    border: 3px solid rebeccapurple;
}

.container #p-coffee{
    padding: 27px;
    border: 3px solid rgb(54, 36, 13);
    border-radius:100px;
    background-color:aliceblue;
    font-family:'Courier New', Courier, monospace
}

.container #div-img{
    margin:100px;
    padding:0%;
}
