/* KEYFRAMES -> Change the value initial to the final */

div {
    width: 100px;
    height: 100px;
    background-color: red;
    position: relative;
    animation-name: example; /* name of the animation */
    animation-duration: 4s;
    animation-delay: -2s;
  }

@keyframes example {
    from {background-color: red;} /* Initial value */
    to {background-color: yellow;} /* final value */
  }

  /* Also works with % */
  @keyframes example {
    0%   {background-color: red;}
    25%  {background-color: yellow;}
    50%  {background-color: blue;}
    100% {background-color: green;}
  }

  /* Works with move and other attributes */
  @keyframes example {
    0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color:yellow; left:200px; top:0px;}
    50%  {background-color:blue; left:200px; top:200px;}
    75%  {background-color:green; left:0px; top:200px;}
    100% {background-color:red; left:0px; top:0px;}
  }

  /* Repeat and change the direction */
  div {
    width: 100px;
    height: 100px;
    background-color: red;
    position: relative;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: 2; /* 2 times repeat */
    animation-direction: alternate-reverse;  
  }
  
  @keyframes example {
    0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color:yellow; left:200px; top:0px;}
    50%  {background-color:blue; left:200px; top:200px;}
    75%  {background-color:green; left:0px; top:200px;}
    100% {background-color:red; left:0px; top:0px;}
  }