/* OUTLINE */
/* 
Is a line drawn outside of border's element, the order is:
Outline -> Outline
Border -> Inside of the outline and outside of the content
content -> inside of all
*/

/*  Works as the same way that the border and we have some properties:
outline-style
outline-color
outline-width
outline-offset
outline
 */

/********************************************** STYLE ***********************************************/

 p.dotted {outline-style: dotted;}
p.dashed {outline-style: dashed;}
p.solid {outline-style: solid;}
p.double {outline-style: double;}
p.groove {outline-style: groove;}
p.ridge {outline-style: ridge;}
p.inset {outline-style: inset;}
p.outset {outline-style: outset;}

/********************************************** WIDTH ***********************************************/
p.ex1 {
    border: 1px solid black;
    outline-style: solid;
    outline-color: red;
    outline-width: thin;
  }
  
  p.ex2 {
    border: 1px solid black;
    outline-style: solid;
    outline-color: red;
    outline-width: medium;
  }
  
  p.ex3 {
    border: 1px solid black;
    outline-style: solid;
    outline-color: red;
    outline-width: thick;
  }
  
  p.ex4 {
    border: 1px solid black;
    outline-style: solid;
    outline-color: red;
    outline-width: 4px;
  }
/********************************************** COLOR ***********************************************/
  p.ex1 {
    border: 2px solid black;
    outline-style: solid;
    outline-color: red;
  }
  
  p.ex2 {
    border: 2px solid black;
    outline-style: dotted;
    outline-color: blue;
  }
  
  p.ex3 {
    border: 2px solid black;
    outline-style: outset;
    outline-color: grey;
  }

/********************************************** SHORTHAND ***********************************************/
  p.ex1 {outline: dashed;}
p.ex2 {outline: dotted red;}
p.ex3 {outline: 5px solid yellow;}
p.ex4 {outline: thick ridge pink;}

/********************************************** OFFSET ***********************************************/
p {
    margin: 30px;
    border: 1px solid black;
    outline: 1px solid red;
    outline-offset: 15px;
  }