.box{
    width: 500px;
    height: auto;
    margin: auto;
    padding: 15px;
    background-color: aqua;
    font-family: serif;
    font-size: small;
    color: white;
    line-height: 1.8em;
    border: 3px solid rebeccapurple;
    border-radius: 5px;
    box-shadow: 12px 12px 24px blue;
}

div div {color:red;}